.intro {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.park-box {
    background-color: lightgrey;

    width: 80%;
    padding: 1%;
    border-radius: 10px;
    margin-bottom: 3%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    margin-left: 2%;
}

.delete {
    text-align: right;
}

.delete-btn {
    background-color: transparent;
    border: 1px solid;
    border-radius: 5px;
}