body {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 55%;
}

.intro {
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
}

.boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.park-box {
    background-color: rgb(247, 247, 247);

    width: 80%;

    border-radius: 5px;
    margin-bottom: 3%;

    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.wrap {
    padding: 2%;
}

.content {
    display: flex;
    text-align: justify;
    align-items: center;
}

.park-name {
    margin-bottom: 2%;
}

.park-desc {
    margin-left: 2%;
}

image {
    border-radius: 7%;
}

.park-img,
.park-name,
.park-desc {
    cursor: pointer;
}

.delete {
    text-align: right;
}

.delete-btn {
    color: rgb(240, 12, 12);
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
}


@media (max-width: 767px) {

    .intro {
        font-size: 10px;
        margin-bottom: 10%;
    }

    .content {
        display: flex;
        flex-direction: column;
        text-align: justify;
        justify-content: center;
    }

    .park-box {
        padding-top: 2%;
        width: 70%;
    }

    .park-name {
        font-size: 17px;
    }

    .park-img {
        margin: 5% 0 5% 0;
    }

    .park-desc {
        display: none;
    }

    .delete {
        font-size: 10px;
    }

}