/* 모달 */
.popup-wrap {
  background-color: rgba(0, 0, 0, .3);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: none;
  overflow-y: initial !important;
  z-index: 4;
}

.popup {
  position: relative;
  width: 80%;
  height: auto;
  max-width: 90%;
  padding: 2%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

/* 모달창 헤더 */
.popup-header {
  display: flex;
  margin-bottom: 2%;
  justify-content: space-between;
}

.popup-header>div {
  font-size: 30px;
  cursor: pointer;
  padding-right: 30px;
}


/* 모달창 바디 */
.popup-body-choice {
  width: 40%;
  margin: 1% auto;
}

.popup-body-choice-hr {
  width: 70%;
  margin: auto;
  color: green;
}

.popup-body {
  margin: auto;
  text-align: center;
}

.popup-body-preview {
  width: 300px;
  height: 300px;
  background-color: rgb(241, 241, 241);
  border: 2px dashed rgb(226, 89, 89);
}

.input-file-button {
  margin-top: 1%;
  padding: 10px 50px;
  background-color: #FF6600;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.popup-body-title {
  width: 50%;
  height: 60px;
  margin: 1% 0;
  border-radius: 3px;
}

.popup-body-content {
  resize: none;
  width: 50%;
  height: 150px;
  border-radius: 3px;
}

/* 모달창 업로드 */
.modal-btn {
  width: 150px;
  height: 50px;
  margin: auto;
}

.modal-btn button {
  width: 100%;
}

/* 게시물 페이지 시작 */
.wrap {
  width: 70%;
  margin: auto;
}

.article-park {
  color: gray;
}

.title-hr {
  border: 0;
  border-top: 5px solid green;
}

.article-title-span {
  float: right;
  cursor: pointer;
  color: rgb(206, 40, 40);
  padding-left: 2%;
  padding-top: 1%;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-name {
  display: flex;
  justify-content: space-evenly;
}

.info-name>span {
  padding: 4px;
  color: gray;
}

.info-count {
  display: flex;
  justify-content: space-evenly;
}

.info-count>span {
  padding: 4px;
  color: gray;
}

.article-title>h4 {
  font-weight: bolder;
}

.article-header {
  display: flex;
  justify-content: space-between;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.article-image {
  width: 70%;
}

.article-content {
  margin-top: 3%;
  width: 70%;
  font-size: large;
  font-weight: 500;
}

.all-comment {
  width: 80%;
  margin: auto;
}

.comment-start {
  margin-top: 5%;
  border-bottom: 1px solid;
}

.comment {
  display: flex;
  width: 90%;
  height: 100%;
  margin: 2% auto;

}

.username {
  flex: 1;
  font-weight: bolder;
}

.user-comment {
  flex: 5;
  width: 100%;
  word-break: break-all;
}

.time {
  flex: 1;
  padding-left: 3%;
  color: gray;
  font-size: 13px;
}

.time span {
  color: rgb(206, 40, 40);
  cursor: pointer;
}

.comment-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 3% auto;

}

.comment-text {
  padding: 1%;
  width: 100%;
  resize: none;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;

}

.comment-post {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commentbtn {
  background-color: transparent;
  border: 1px solid rgb(21, 105, 201);
  border-radius: 10%;
  color: rgb(21, 105, 201);
}


/* 반응형 */
@media (max-width: 767px) {

  .tag-name,
  .realtitle {
    font-size: 1rem;
  }

  .realtitle {
    font-weight: bold;
  }

  .article-title-span {
    font-size: 10px;
  }

  .article-park,
  .info,
  .article-content {
    font-size: 10px;
  }

  .info {
    flex-direction: column;
    justify-content: flex-start;
  }

  .info-name,
  .info-count {
    flex-direction: row;
    justify-content: flex-start;
  }

  .comment-start {
    font-size: 12px;
  }

  .comment,
  .time {
    font-size: 10px;
  }

  .comment {
    display: flex;
    flex-direction: column;
  }

  .time {
    padding: 0;
  }

  .comment-input {
    width: 80%;
  }

  .comment-input,
  .commentbtn {
    font-size: 10px;
  }

  .popup-body-preview {
    width: 150px;
    height: 150px;
  }

  .popup {
    width: 90%;
    height: auto;
  }

  .popup-body-choice {
    width: 80%;
    margin: 5% auto;
  }

  .popup-body-choice-hr {
    margin: 10px auto;
  }

  .popup-body-title,
  .popup-body-content {
    width: 90%;
    height: auto;
  }

  footer {
    font-size: 10px;
  }
}