.wrap {
  width: 70%;
  margin: auto;
}

.title-hr {
  border: 0;
  border-top: 3px solid;
}

.info {
  display: flex;
  justify-content: space-between;
}

.info-name {
  display: flex;
  justify-content: space-evenly;
}

.info-name>span {
  padding: 4px;
  color: gray;
}

.info-count {
  display: flex;
  justify-content: space-evenly;
}

.info-count>span {
  padding: 4px;
  color: gray;
}

.article-title>h4 {
  font-weight: bolder;
}

.article {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.article-content {
  margin-top: 5%;
  width: 70%;
}

.comment-start {
  margin-top: 5%;
  margin-left: 8%;
  border-bottom: 1px solid;
}

.comment {
  display: flex;
  width: 100%;
  height: 100%;
  margin: 2% 0%;
  padding-left: 10%;
  /* border-bottom: 1px solid gray; */
}

.username {
  flex: 1;
  font-weight: bolder;
}

.user-comment{
  flex: 5;
}

.time {
  flex: 1;
  padding-left: 3%;
  color: gray;
  font-size: 14px;
}

.time span{
  padding-left: 8%;
  color: rgb(206, 40, 40);
  cursor: pointer;
}

.comment-output {
  display: flex;
  width: 500%;
}

.comment-input {
  margin: auto;
  padding-left: 30%;
}

.input-group {
  display: flex;
}

.comment-text {
  padding: 1%;
  resize: none;
  width: 500px;
  height: 150px;
}