body {
  margin: 0;
  padding: 0;
}

.community-btns {
  display: flex;
  justify-content: space-around;
}

/* 모달 */
.popup-wrap {
  background-color: rgba(0, 0, 0, .3);
  justify-content: center;
  align-items: center;
  overflow: hidden;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: none;
  overflow-y: initial !important;
  z-index: 2;
}

.popup {
  position: relative;

  width: 80%;
  height: auto;
  max-width: 90%;
  padding: 2%;
  border-radius: 10px;

  background-color: #fff;
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}


/* 모달창 헤더 */
.popup-header {
  display: flex;
  margin-bottom: 2%;
  
  justify-content: space-between;
}

.popup-header>div {
  font-size: 30px;
  cursor: pointer;
  padding-right: 30px;
}

/* 모달창 바디 */
.popup-body-choice {
width: 40%;
margin: 1% auto;
}

.popup-body-choice-hr {
width: 70%;
margin: auto;
color: green;
}

.popup-body {
  margin: auto;
  text-align: center;
}

.popup-body-preview {
  width: 300px;
  height: 300px;
  background-color: rgb(241, 241, 241);
  border: 2px dashed rgb(226, 89, 89);
}

.input-file-button{
  margin-top: 1%;
  padding: 10px 50px;
  background-color: #FF6600;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.popup-body-title {
  width: 50%;
  height: 60px;
  margin: 1% 0;
  border-radius: 3px;

}

.popup-body-content {
  resize: none;

  width: 50%;
  height: 150px;
  border-radius: 3px;
}

/* 모달창 업로드 */
.popup-upload button {
  width: 200px;
  height: 50px;
}

/* 게시글 wrap */
.airtlce-wrap {
  position: relative;
  width: 100%;
  height: 800px;
}

/* 게시글 table */
.table {
  width: 70%;
  margin: auto;
  text-align: center;
}

.article-title {
  text-decoration: none;
  color: black;
}

.article-title:hover {
  color: rgb(100, 100, 100);
}

.search {
  margin: auto;
  margin-top: 30px;
  width: 300px;
  height: 40px;
}

.page {
  position: relative;
  width: 50%;
  left: 45%;
  text-align: center;
  align-items: center;
  display: flex;
  margin-top: 1%;
}

.page button {
  border: none;
  background: none;
}

.page button:hover {
  color: rgb(0, 55, 128);
  text-decoration: underline;
  transition: 0.5s;
}

.th-title-width {
  width: 45%; 
  text-align: left;
}

.th-width {
  width: 15%
}

@media (max-width:1300px) {
  .my-4 {
    margin-top: 20rem!important;
  }
}

@media (max-width:900px) {
  .th-width {
    font-size: 11px;
    width: 15%;
  }

  .th-title-width {
    width: 5%; 
    text-align: left;
  }

  .table {
    width: 90%;
    margin: auto;
    text-align: center;
  }

  thead > tr :nth-child(1){
    padding: .5rem 0;
    font-size: 12px;
  }

  thead > tr :nth-child(2){
    font-size: 14px;
    text-align: left;
  }

  thead > tr :nth-child(3){
  display: none;
  }

  .item-mygallery > td:nth-child(1){
    font-size: 12px;
  }

  .article-title {
    display: block;
    width: 170px;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
  }

  .item-mygallery > td:nth-child(3){
    display: none;
  }

  .item-mygallery > td:nth-child(n+4){
    font-size: 12px;
    padding: .5rem 0;
  }

  footer {
    display: none;
  }
}

@media (max-width: 550px) {
  .popup-body-preview {
    width: 150px;
    height: 150px;
  }

  .popup {
    width: 90%;
    height: auto;
  }

  .popup-body-choice {
    width: 80%;
    margin: 5% auto;
    }

  .popup-body-choice-hr {
    margin: 10px auto;
    }

  .popup-body-title, .popup-body-content{
    width: 90%;
    height: auto;
  }
}