html,
body {
  width: 100%;
  height: 100%;
}

body {
  right: 0px;
  min-width: 320px;
}

.container-fluid {
  margin-bottom: 2em;
  display: flex;
  flex-wrap: wrap;
}

.nav-right-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
  align-items: center;
}

.logo {
  margin: 0px auto 0px 30px;
}

.form-control {
  width: 250px;
  height: 40px;
}

.rounded-circle {
  border: solid 2px black;
}

.link-dark {
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: rgba(var(--bs-body-color-rgb),.75)!important;
}

@media (min-width: 900px) {
  .navbar {
    margin: 0px 40px 0px 30px;
  }
}
@media (max-width: 670px) {
  .nav-right-buttons {
    width: 100%;
    height: 20px;
  }
}

@media (max-width: 375px) {
  .nav-right-buttons {
    min-width: 280px;
    margin-right: 50px;
  }
  
  .nav-right-buttons a {
    font-size: 13px;
  }

  .nav-right-buttons img {
    height: 30px;
    width: 30px;
  }

  .nav-right-buttons span {
    font-size: 13px;
  }
}