/* 첫번째 구간 : 이름, 북마크 */
.park-name-mark {
    background-color: pink;
    height: 100px;
    margin: 60px 0px 10px 0px;
    display: flex;
}

.park-name {
    background-color: green;
    width: 100px;
    height: 100px;
    justify-content: center;
}

.bookmark {
    background-color: green;
    width: 100px;
    height: 100px;
}

/* 두번째 구간 : 조회수, 주소 */
.check-count {
    background-color: green;
    width: 100px;
    height: 30px;
    margin: 0px 50px 10px 0px;
}

.addr {
    background-color: green;
    width: 300px;
    height: 30px;
    margin: 0px 50px 10px 0px;
}

/* 세번째 구간 : 이미지, 지도 */
.park-image-map {
    background-color: pink;
    height: 300px;
    margin: 50px 0px 50px 0px;
    display: flex;
    justify-content: space-between;
}

.image {
    width: 400px;
    height: 300px;
    margin: 0px 0px 0px 30px;
}

.img {
    width: 400px;
    height: 300px;
}

.map {
    width: 400px;
    height: 300px;
    margin: 0px 30px 0px 0px;
}

/* 네번째 구간 : 설명 */
.park-description {
    background-color: pink;
    height: 520px;
    margin: 0px 0px 10px 0px;
}

.list-content {
    background-color: green;
    height: 250px;
    margin-bottom: 10px;
}

.main-equip {
    background-color: green;
    height: 220px;
    margin-bottom: 10px;
}

.admintel {
    background-color: red;
    height: 30px;

}

/* 다섯째 구간 : url, 정보업데이트시간 */
.park-url-updated {
    background-color: pink;
    height: 30px;
    margin: 0px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
}

.template-url {
    background-color: green;
    width: 400px;
    height: 30px;
    margin: 0px 0px 0px 30px;
}

.updated-at {
    background-color: green;
    width: 100px;
    height: 30px;
    margin: 0px 30px 0px 0px;
}

/* 공원 댓글창 */
.park-comment {
    background-color: skyblue;
    width: 600px;
    height: 545px;
    margin: 30px auto 60px auto;
}

/* 댓글 10개 보여주는 공간 */
.comment-box {
    background-color: green;
    width: 580px;
    height: 465px;
    margin: 0px auto 0px auto;
}

.comments {
    background-color: lightgreen;
    width: 580px;
    height: 465px;
    padding-top: 15px;
}

.comment {
    background-color: yellow;
    width: 580px;
    height: 30px;
    display: flex;
    margin: 0px 0px 15px 0px;
    overflow: hidden;
}

.comment-username {
    background-color: white;
    margin-right: 10px;
}

.comment-comment {
    background-color: white;
    margin-right: 10px;
}

.comment-upload-time {
    background-color: white;
    margin-right: 10px;
}

/* 댓글 수정 삭제 버튼 */
.comment-edit {
    margin-right: 10px;
}

.comment-delete {}

/* 댓글 페이지 네이션 */
.comment-pagenation {
    background-color: gray;
    height: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.comment-pagenation-num {
    margin: 0px 10px 0px 10px;
}

.cur-page {
    color: blue;
    font-weight: 900;
}

/* 댓글 입력창 */
.comment-input-box {
    background-color: gray;
    display: flex;
    margin: 0px 10px 0px 10px;
}

.comment-input-comment input {
    background-color: white;
    width: 510px;
    height: 30px;
    margin-right: 10px;
    overflow: hidden;
}

.comment-input-button {}