.park-detail {
    max-width: 1000px;
    margin: auto;
}

.line {
    border-bottom: 0.1rem solid green;
}

/* 첫번째 구간 : 이름, 북마크 */
.park-name-mark {
    margin: 60px 0px 10px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.park-name {
    font-weight: 500;
    margin: auto;
}

.bookmark {
    margin-right: 0px;
}

.fa-heart {
    font-size: 40px;
    color: #2db43a;
}

.bookmark-cnt {
    font-weight: bold;
    color: #2db43a;
}

/* 두번째 구간 : 조회수, 주소 */
.check-count-addr {
    display: flex;
}

.check-count {
    height: 30px;
}

.addr {
    height: 30px;
    margin-left: auto;
}

/* 세번째 구간 : 이미지, 지도 */
.park-image-map {
    height: 300px;
    margin: 50px auto;
    display: grid;
    max-width: 1200px;
}

.image {
    width: 400px;
    height: 300px;
    margin: auto;
}

.img {
    width: 400px;
    height: 300px;
    margin: auto;
}

.map {
    width: 400px;
    height: 300px;
    margin: auto;
}

/* 반응형 */
@media (min-width: 1150px) {
    .park-image-map {
        grid-template-columns: repeat(2, 1fr);
        margin: 30px auto;
    }
}

@media (max-width: 1150px) {
    .park-image-map {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px 0px;
        margin: 30px auto 370px auto;
    }
}

/* 네번째 구간 : 설명 */
.park-description {
    margin: 0px 0px 10px 0px;
}

.list-content {
    margin-bottom: 20px;
}

.main-equip {
    margin-bottom: 20px;
}

.admintel {
    height: 30px;
}

@media (max-width: 570px) {
    .park-description {
        width: 400px;
        margin: auto;
    }

    .updated-at {
        display: none;
    }

    .template-url {
        margin: auto;
    }
}

@media (max-width: 375px) {
    .park-description {
        width: 400px;
    }
}

/* 다섯째 구간 : url, 정보업데이트시간 */
.park-url-updated {
    margin: auto auto 30px auto;
    display: flex;
    flex-wrap: wrap;
}

.template-url {
    overflow-x: auto;
    color: black;
    text-decoration: none;
}

.template-url:hover {
    color: #5ea152; 
}

.fa-hand-point-right {
    --button-active-background: var(--example-color-alt); 
    --button-hover-background: var(--example-color);
    color: #5ea152; 
    --fa-animation-duration: 2s;
}

.updated-at {
    margin-left: auto;
}

/* 공원 댓글창 */
.park-comment {
    height: 545px;
    margin: 30px auto 60px auto;

}

/* 댓글 10개 보여주는 공간 */
.comment-box {
    background-color: green;
    height: 465px;
    margin: 0px auto 0px auto;
}

.comments {
    height: 465px;
    padding-top: 15px;
}

.comment {
    height: 30px;
    display: flex;
    margin: 0px 0px 15px 0px;
    overflow: hidden;
    padding: 0px 30px;
}

@media (min-width: 1150px) {
    .park-comment {
        width: 800px;
    }

    .comment-input-box {
        width: 700px;
        margin: auto;
    }

    .comment-input-comment input {
        width: 700px;
    }
}
@media (min-width: 570px) {
    .comment-input-box {
        width: 700px;
        margin: auto;
    }

    .comment-input-comment input {
        width: 700px;
    }
}
@media (max-width: 570px) {
    .park-comment {
        width: 400px;
    }

    .comment-input-box {
        width: 380px;
    }

    .comment-input-comment input {
        width: 290px;
    }
}

.comment-username {
    margin-right: 10px;
}

.comment-comment {
    margin-right: 10px;
}

.comment-upload-time {
    margin-right: 10px;
}

/* 댓글 수정 삭제 버튼 */
.comment-buttons {
    margin-left: auto;
}

.comment-buttons button {
    padding: 0;
    border: none;
    background: none;
}

/* 댓글 페이지 네이션 */
.comment-pagination {
    height: 30px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.comment-pagination-num {
    margin: 0px 10px 0px 10px;

}

.cur-page {
    color: blue;
    font-weight: 900;
    font-size: 18px;
}

/* 댓글 입력창 */
.comment-input-box {
    display: flex;
    /* margin: 0px 10px 0px 10px; */
    margin: auto -1px auto;
}

.comment-input-comment input {
    height: 38px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 7px;
    padding: 1.075rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    vertical-align: middle;
    border: 1px solid #6c757d;
}

.comment-input-button button {
    width: 80px;
}