.park-detail {
  width: 70%;
  margin: 2em auto;
  min-width: 320px;
}

.line {
  border-bottom: 0.1rem solid green;
}

/* 첫번째 구간 : 이름, 북마크 */
.park-name-mark {
  margin: 60px 0px 10px 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.park-name {
  font-weight: 500;
  margin: auto;
}

.bookmark {
  margin-right: 0px;
}

.fa-heart {
  font-size: 40px;
  color: #2db43a;
}

.bookmark-cnt {
  font-weight: bold;
  color: #2db43a;
}

/* 두번째 구간 : 조회수, 주소 */
.check-count-addr {
  display: flex;
  flex-wrap: wrap;
}

.check-count {
  height: 30px;
}

.addr {
  height: 30px;
  margin-left: auto;
}

/* 세번째 구간 : 이미지, 지도 */
.park-image-map {
  height: 300px;
  margin: 50px auto;
  display: grid;
  max-width: 1200px;
}

.img {
  min-width: 320px;
  width: 300px;
  height: 300px;
  margin: auto;
}

.map {
  min-width: 320px;
  height: 300px;
  margin: auto;
}

/* 네번째 구간 : 설명 */
.park-description {
  margin: 0px 0px 30px 0px;
}

.list-content {
  margin-bottom: 20px;
}

.main-equip {
  margin-bottom: 20px;
}

.admintel {
  height: 30px;
}

/* 다섯째 구간 : url, 정보업데이트시간 */
.park-url-updated {
  margin: auto auto 30px auto;
  display: flex;
  flex-wrap: wrap;
}

.template-url {
  overflow-x: auto;
  color: black;
  text-decoration: none;
}

.template-url:hover {
  color: #5ea152;
}

.fa-hand-point-right {
  --button-active-background: var(--example-color-alt);
  --button-hover-background: var(--example-color);
  color: #5ea152;
  --fa-animation-duration: 2s;
}

.updated-at {
  margin-left: auto;
  color: gray;
}

/* 공원 댓글창 */
.park-comment {
  height: 545px;
  margin: 30px auto 60px auto;
}

/* 댓글 10개 보여주는 공간 */
.comment-box {
  border: 1px solid #5ea152;
  border-radius: 10px;
  width: 100%;
  height: 465px;
  margin: 0px auto 0px auto;
}

.comments {
  height: 465px;
  padding-top: 15px;
}

.comment {
  width: 100%;
  height: 30px;
  display: flex;
  margin: 0px 0px 15px 0px;
  overflow: hidden;
  padding: 0px 30px;
  align-items: center;
}

.comment-username {
  margin-right: 20px;
  font-weight: 800;
  color: #198754;
}

.comment-comment {
  margin-right: 30px;
}

.textarea {
  resize: none;
  height: 30px;
  width: 100%;
  overflow-y: hidden;
  display: block;
}

.comment-upload-time {
  color: gray;
  font-size: 10px;
}

/* 댓글 수정 삭제 버튼 */
.comment-buttons {
  margin-left: auto;
  display: flex;
}

.comment-buttons button {
  padding: 0;
  border: none;
  background: none;
  color: gray;
  margin: 5px;
}

.comment-delete {
  display: none;
}

/* 댓글 페이지 네이션 */
.comment-pagination {
  height: 30px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

.comment-pagination-num {
  margin: 0px 10px 0px 10px;

}

.cur-page {
  color: #2db43a;
  font-weight: 900;
  font-size: 18px;
}

/* 댓글 입력창 */
.comment-input-box {
  display: flex;
  margin: 0px 10px 0px 10px;
}

.comment-input-comment {
  width: 90%;
  margin-right: 10px;
}

.comment-input-comment input {
  width: 100%;
  height: 38px;
  margin-right: 10px;
  overflow: hidden;
  border-radius: 7px;
  padding: 1.075rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  vertical-align: middle;
  border: 1px solid #6c757d;
}

.comment-input-button {
  margin-left: auto;
}

.comment-input-button button {
  width: 80px;
  --bs-btn-hover-bg: #198754;
}

/* 주차장 */
.parking-box {
  width: 100%;
  height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
  overflow-y: scroll;
  display: grid;
}

/* 스크롤바 */
.parking-box::-webkit-scrollbar {
  width: 10px;
}

.parking-box::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}

.parking-box::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}

.parking-lots {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  justify-items: center;
}

.parking-lot {
  border: 1px solid black;
  min-width: 230px;
  max-width: fit-content;
  margin: 3% 0 3% 0;
}

/* 반응형 */
@media (min-width: 1140px) {
  .map {
    width: 400px;
  }

  .img {
    width: 400px;
  }
}

@media (min-width: 900px) {
  .park-image-map {
    grid-template-columns: repeat(2, 1fr);
    margin: 30px auto;
    min-width: 320px;
  }
}

@media (max-width: 900px) {
  .park-image-map {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px 0px;
    margin: 30px auto 370px auto;
  }
}

@media (max-width: 670px) {
  .addr {
    flex-wrap: wrap;
  }
}

@media (max-width: 545px) {
  .comment-buttons {
    font-size: 10px;
  }

  .comment-buttons button {
    margin: 1px;
  }
}