/* 기본 숨김처리 -> 카카오로그인을 진행시 visible */
.user-info {
    visibility: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #ffffff3f;

    background-size: cover;
    /* background-position: center; */
}

body::before {
    content: "";
    position: absolute;
    /* z-index: 1; */

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.sign {
    z-index: 2;
}

@media screen and (max-width:1300px) {
    .sign {
        margin: auto;
    }
}

@media (min-width:1300px) {
    .sign {
        margin: auto;
    }
}


.sign h1 {
    font-size: 32px;
    color: black;
    text-align: center;
    margin-bottom: 60px;
}

/* 아이디, 패스워스 박스 */
.int-area {
    position: relative;
    width: 400px;
    margin-top: 20px;
}

.int-area:first-child {
    margin-top: 0;
}

.int-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 18px;
    color: black;
    outline: none;
}

.int-area label {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 18px;
    color: gray;
    transition: all .5s ease;
}

.int-area label.warning {
    color: red !important;
    animation: warning .3s ease;
    animation-iteration-count: 3;
}

@keyframes warning {
    0% {
        transform: translateX(-8px);
    }

    25% {
        transform: translateX(8px);
    }

    50% {
        transform: translateX(-8px);
    }

    75% {
        transform: translateX(8px);
    }
}

.int-area input:focus+label,
.int-area input:valid+label {
    top: -2px;
    font-size: 13px;
    color: rgb(77, 75, 218);
    /* 글자 애니메이션 색상 지정 */
}

/* 계정관리 모달 내용 중앙정렬 */
.account-form {
    display: inline-block;
    align-items: center;
}

/* 버튼 */
.btn-area {
    margin-top: 30px;
}

.btn-area button {
    width: 100%;
    height: 50px;
    background: rgb(19, 116, 207);
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.caption {
    margin-top: 20px;
    text-align: center;
}

.caption a {
    font-size: 15px;
    color: gray;
    text-decoration: none;
}

.bg-pan-bl {
    -webkit-animation: bg-pan-bl 8s both;
    animation: bg-pan-bl 8s both;
}

@-webkit-keyframes bg-pan-bl {
    0% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 100%;
    }
}

@keyframes bg-pan-bl {
    0% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 100%;
    }
}

.kakao-login {
    display: block;
    margin: auto;
    border: none;
    width: 400px;
    border-radius: 50px;
    margin-top: 20px;
}

.kakao-login img {
    width: 400px;
    height: 50px;
    border-radius: 50px;
}

/* 모달 */
.popup-wrap {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: none;
    overflow-y: initial !important;
    z-index: 2;
}

.popup {
    position: relative;

    width: 95%;
    max-width: 90%;
    padding: 2%;
    border-radius: 10px;

    background-color: #fff;
    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

/* 모달창 헤더 */
.popup-header {
    display: flex;
    margin-bottom: 2%;

    justify-content: space-between;
}

.popup-header>div {
    font-size: 30px;
    cursor: pointer;
    padding-right: 30px;
}

/* 모달창 바디 */
.popup-body {
    /* margin: auto; */
    text-align: center;
}

.popup-body-title {
    width: 40%;
    height: 50px;

    border-radius: 3px;
}

.popup-body-content {
    resize: none;

    width: 40%;
    height: 150px;
    border-radius: 3px;
}

/* 모달창 업로드 */
.popup-upload button {
    width: 200px;
    height: 50px;
}