* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Happiness-Sans-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Happiness-Sans-Title';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Happiness-Sans-Regular';
    align-items: center;
    height: 100vh;
    min-width: 300px;
    min-height: 300px;
    background-color: #ffffff3f;
    background: url(./img/tree_img.png) no-repeat;
    background-size: cover;
    background-color: #a8ce67;
    background-position: center bottom;
}

body::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*이메일 입력*/
.email-field {
    display: flex;
}

.logo {
    width: 100px;
    margin: 10px auto;
}

.close-button {
    cursor: pointer;
}

/* 연초록색박스 */
.sign {
    display: flex;
    z-index: 2;
    background-color: white;
    border: 1px solid #a8ce67;
    border-radius: 30px;
    width: 500px;
    height: auto;
    padding: 50px;
}

.sign h1 {
    font-size: 32px;
    font-weight: 700;
    color: darkgreen;
    text-align: center;
    margin-bottom: 60px;
}

/* 아이디, 패스워스 박스 */
.int-area {
    position: relative;
    width: 400px;
    align-items: baseline;
}

.int-area input {
    width: 100%;
    padding: 20px 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    font-size: 18px;
    color: black;
    outline: none;
    margin: 20px auto;
}

/* 스페이스홀더 이동,색상 지정 */
.int-area input:focus+label,
.int-area input:valid+label {
    top: -2px;
    font-size: 15px;
    color: rgb(0, 174, 0);
    font-weight: 450;
}

.int-area label {
    font-weight: 700;
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 18px;
    color: darkgreen;
    transition: all .5s ease;
}

.int-area label.warning {
    color: red !important;
    animation: warning .3s ease;
    animation-iteration-count: 3;
}

@keyframes warning {
    0% {
        transform: translateX(-8px);
    }

    25% {
        transform: translateX(8px);
    }

    50% {
        transform: translateX(-8px);
    }

    75% {
        transform: translateX(8px);
    }
}

/* 버튼 */
.btn-area {
    margin-top: 30px;
    text-align: center;
    justify-content: space-between;
}

.btn-area button {
    height: 50px;
    background-color: #fae100;
    color: black;
    font-size: 15px;
    font-weight: 450;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.btn-area button:hover {
    background-color: #198754;
    --bs-btn-hover-bg: #198754;
    color: white;
}

.kakao-login {
    display: block;
    margin: auto;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
}

.kakao-login img {
    display: block;
    margin: auto;
    border: none;
    border-radius: 15px;
    height: 50px;
}

/* 아이디찾기, 비밀번호 변경, 회원가입 버튼 */
.caption {
    margin-top: 20px;
    text-align: center;
    justify-content: space-between;
}

.caption a {
    font-size: 15px;
    font-weight: 450;
    background-color: #198754;
    color: white;
    text-decoration: none;
    margin-right: 4px;
    border-radius: 8px;
    cursor: pointer;
    padding: 6px;
}

.caption a:hover {
    background-color: #fae100;
    --bs-btn-hover-bg: #fae100;
    color: black;
}

/* 이메일 패스워드 안내 : 빨간글씨*/
.red-font {
    color: green;
    font-size: 15px;
}

#error {
    color: red;
    font-size: 15px;
}

/* 아이디찾기, 비밀번호 찾기, 회원가입 : 초록버튼 */
.caption button {
    height: 50px;
    background-color: #fae100;
    color: black;
    font-size: 15px;
    font-weight: 450;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.caption button:hover {
    background-color: darkgreen;
    --bs-btn-hover-bg: darkgreen;
    color: white;
}

/* 비밀번호 찾기 페이지 : 안내문구, 팝업 */
.popup-info {
    text-align: center;
    font-size: 15px;
}

/* 모달 */
.popup-wrap {
    background-color: rgba(0, 0, 0, .3);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    overflow-y: initial !important;
    z-index: 2;
}

.popup {
    position: relative;
    width: 500px;
    max-width: 90%;
    padding: 4%;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, .3);
}

/* 모달창 헤더 */
.popup-header {
    display: flex;
    justify-content: space-between;
}

.popup-header h1 {
    color: darkgreen;
    font-size: 20px;
    font-weight: 700;
    margin: 25px;
}

/* 모달창 바디 */
.popup-change-body {
    text-align: center;
}

.popup-body h3 {
    font-size: 15px;
    font-weight: 500;
}

.popup-body-title {
    width: 80%;
    height: 50px;
    padding: 10px;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
}

/* 모달창 업로드 */
.popup-upload {
    text-align: center;
}

.popup-upload button {
    background-color: #198754;
    color: white;
    width: 30%;
    height: 50px;
    border-radius: 15px;
    margin: auto;
}

.popup-upload button:hover {
    background-color: #fae100;
    --bs-btn-hover-bg: #fae100;
    color: black;
}

.line {
    border-bottom: 0.1rem solid green;
    margin: 30px;
}

/* 회원가입 페이지 : 선호하는 지역, 로그인버튼 */
.int-region {
    margin-top: 20px;
}

.region {
    font-weight: 700;
    font-size: 18px;
    color: darkgreen;
}

.to-login {
    margin-top: 20px;
    text-align: center;
}

.to-login span {
    color: black;
    font-weight: 700;
}

.to-login a {
    font-size: 15px;
    font-weight: 700;
    background-color: #fae100;
    color: black;
    text-decoration: none;
    margin-left: 10px;
    border-radius: 8px;
    cursor: pointer;
    padding: 12px;
}

.to-login a:hover {
    background-color: darkgreen;
    --bs-btn-hover-bg:darkgreen;
    color: white;
}

/* 반응형 */
@media screen and (max-width:1300px) {
    .sign {
        margin: auto;
    }
}

@media (min-width:1300px) {
    .sign {
        margin: auto;
    }

    .int-area {
        margin-top: 20px;
    }
}

@media screen and (max-width: 414px) {
    .sign {
        padding: 20px;
        width: 340px;
    }

    .sign h1 {
        font-size: 18px;
        font-weight: 700;
        margin: 10px;
    }

    .sign h3 {
        font-size: 10px;
    }

    .int-area {
        width: 300px;
    }

    .int-area input {
        margin: 7px auto;
    }

    .int-area label {
        font-size: 12px;
    }

    .int-area input:focus+label,
    .int-area input:valid+label {
        top: -1px;
        font-size: 10px;
    }

    .btn-area button {
        width: 50%;
    }

    .kakao-login {
        width: 50%;
        height: 50px;
    }

    .kakao-login img {
        width: 100%;
    }

    .int-area span {
        font-size: 10px;
    }

    .int-region {
        margin: 10px 10px auto;
        font-size: 12px;
    }

    .region {
        font-weight: 700;
        font-size: 14px;
        color: darkgreen;
    }

    .to-login span {
        font-size: 14px;
    }

    .to-login a {
        font-size: 14px;
        margin-left: 10px;
        padding: 10px;
    }
    #error {
        font-size: 10px;
    }
}